.label-area {
  margin-top: 20px;
  text-decoration: underline;
  cursor: pointer;
  color: blue;
  margin-bottom: 15px;
}

.label-area:hover {
  color: cadetblue;
}

.branch_select {
  margin-bottom: 15px;
}

.update_area {
  margin-top: 10px;
}

.search-date {
  margin-right: 10px;
}

.search_section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
}
