.label-area {
  margin-top: 20px;
  text-decoration: underline;
  cursor: pointer;
  color: blue;
  margin-bottom: 15px;
}

.label-area:hover {
  color: cadetblue;
}

.branch_select {
  margin-bottom: 15px;
}

.update_area {
  margin-top: 10px;
}

.search-date {
  margin-right: 10px;
}

.search_section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
}

.excellent {
  color: rgb(37, 255, 6);
}

.above_ave {
  color: rgb(149, 213, 000);
}

.average {
  color: rgb(230, 224, 000);
}

.below_ave {
  color: rgb(223, 95, 000);
}

.poor {
  color: rgb(223, 000, 000);
}
