.headerCourName {
  color: #3981e5;
  margin: 20px 0;
}

.cardHomeMargin {
  margin-bottom: 20px;
}

.cardcolor {
  background: linear-gradient(#fff, #80b5ff);
  height: 250px;
  align-items: center;
}
.splash_container {
  margin-top: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
