.back-drop {
  background: rgba(63, 61, 61, 0.692);
  height: 150vh;
  position: absolute;
  transition: all 1.3s;
  width: 100%;
}

.empCntr {
  margin-bottom: 100px;
}
.empfirstrow {
  margin-bottom: 20px;
}

.searchOfEmp {
  margin: 15px 0 5px 0;
}
